In [1]:
import seaborn as sb

In [2]:
import numpy as np
import pandas as pd

In [19]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4), index=['Row1', 'Row2', 'Row3', 'Row4', 'Row5'], columns=['Col1', 'Col2', 'Col3', 'Col4'])

In [4]:
df.head()

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [24]:
#Accessing the Element
# 1. loc  2. iloc  loc--for Row Index
df.loc['Row1']

Col1    0
Col2    1
Col3    2
Col4    3
Name: Row1, dtype: int64

In [6]:
df.to_csv('Test1.csv')

In [25]:
type(df.loc['Row2'])

pandas.core.series.Series

In [26]:
df['Col1'].unique()

array([ 0,  4,  8, 12, 16])

In [27]:
df1=pd.read_csv('test.csv')

In [28]:
df1.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [29]:
df.iloc[0:2,0:2]

      Col1  Col2
Row1     0     1
Row2     4     5

In [30]:
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [31]:
df.isnull().sum()

Col1    0
Col2    0
Col3    0
Col4    0
dtype: int64

In [32]:
df['Col1'].value_counts()

Col1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [ ]:
df.read